.ingredients {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex-grow: 0;

    composes: text text_type_main-large pt-10 pb-5 from global;
}

.tabs {
    flex-grow: 0;

    display: flex;
    flex-direction: row;
}

.sections {
    flex-grow: 1;
    
    height: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.section_container {
    display: flex;
    flex-flow: row wrap;
}
