.feed {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid red; */
}

.header {
    composes: text text_type_main-large pt-10 pb-5 from global;
}

.panels {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.list {
    width: 584px;
    height: 100%;
}

.stats {
    width: 572px;
    height: 100%;
    composes: ml-15 from global;
}
