.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.main {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register_name {
    composes: mt-6 from global;
}

.register_header {
    composes: text text_type_main-medium from global;
    text-align: center;
}

.register_email {
    composes: mt-6 from global;
}

.register_password {
    composes: mt-6 from global;
}

.register_button {
    composes: mt-6 mb-20 from global;
    display: flex;
    justify-content: center;
}

.register_login {
    composes: mb-4 text text_type_main-default text_color_inactive from global;
    text-align: center;
}
