.name {
    composes: mt-6 from global;
}

.header {
    composes: text text_type_main-medium from global;
    text-align: center;
}

.email {
    composes: mt-6 from global;
}

.password {
    composes: mt-6 from global;
}

.button {
    composes: mt-6 mb-20 from global;
    display: flex;
    justify-content: center;
}

.sub {
    composes: mb-4 text text_type_main-default text_color_inactive from global;
    text-align: center;
}
