.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > * {
    flex: 1;
}

.nav {
    display: flex;
    align-items: center;
}

.personal {
    display: flex;
    justify-content: flex-end;
}

.anchor {
    composes: p-5 mt-4 mb-4 from global;
    display: flex;
    align-items: center;
    text-decoration: none;
}
