.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > * {
    flex: 1;
}

.nav {
    display: flex;
    align-items: center;
}

.personal {
    display: flex;
    justify-content: flex-end;
}

.anchor {
    display: flex;
    align-items: center;
}
