.container {
    display: flex;
    flex-direction: row;
}

.drag {
    composes: ml-4 from global;
    display: flex;
    align-items: center;
}

.element {
    composes: mr-4 from global;
    margin-left: auto;
}
