.constructor_container {
    background-color: green;
    composes: mb-4 from global;
    display: flex;
    flex-direction: row;
}

.constructor_drag {
    background-color: yellow;
    composes: ml-4 from global;
    display: flex;
    align-items: center;
}

.constructor_element {
    composes: mr-4 from global;
    margin-left: auto;
}
