.constructor {
    min-width: 600px;
    border: 1px black solid;
}

.constructor_list {
    composes: mt-25 from global;
    display: flex;
    flex-direction: column;
}

.constructor_element {
    composes: mb-4 ml-4 mr-4 from global;
}

.constructor_price {
    composes: mr-10 from global;
}

.constructor_price_number {
    composes: text text_type_digits-medium mr-2 from global;
}

.constructor_footer {
    composes: mt-10 mr-4 from global;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
